name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_call:
    secrets:
      QLTY_COVERAGE_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug'}}
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, "3.0", 3.1, 3.2, 3.3, 3.4, head]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{matrix.ruby}}
      - run: bundle install
      - run: bundle exec rake
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.4
      - run: bundle install
      - run: bundle exec rake
      - uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{secrets.QLTY_COVERAGE_TOKEN}}
          files: coverage/.resultset.json
